<div class="hero min-h-screen" style="background-image: url(<%= asset_url('hero.jpg') %>);">
  <div class="hero-overlay bg-opacity-50"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">散歩に行こう。</h1>
      <p class="mb-5">「散歩くじ」は散歩の行先と楽しみをくじ引きのように提案するサービスです。</p>
      <%= link_to 'いますぐ散歩くじを引く', new_lot_path, class: 'btn btn-primary' %>
      <%= link_to '使い方', about_path, class: 'btn btn-primary btn-info' %>
    </div>
  </div>
</div>
