<h2>パスワードリセットのご案内 | 散歩くじ</h2>

<h4><%= @user.name %>さん</h4>
<p>パスワードリセット依頼を受け付けました</p>
<p>以下リンクよりパスワードをリセットしてください</p>

<%= link_to 'パスワードリセットリンク', @url %>

<p>――――――――――――――――――――――――――――――</p>
<p>散歩くじ</p>

<p>URL: <a href="https://www.walking-lot.com">https://www.walking-lot.com</a></p>
<p>お問い合わせ先: <a href="https://forms.gle/YKAKEUTARLyqGJNS9">こちらのフォームよりお問い合わせください</a></p>
<p>――――――――――――――――――――――――――――――</p>
