<p><%= @user.name %>さん</p>

<p>ユーザー登録いただきありがとうございます。</p>
<p>散歩くじは散歩の行先と目的をくじ引きのように提案するサービスです。</p>

<h4>早速くじを引いて散歩に出かけましょう！</h4>

<%= link_to '散歩くじを引く', new_lot_url %>

<h4>散歩の目的（アクティビティ）を作成できます</h4>
<p>オリジナルの面白いアクティビティを作成してみましょう！</p>

<%= link_to 'アクティビティを作る', new_mypage_activity_url %>

<p>――――――――――――――――――――――――――――――</p>
<p>散歩くじ</p>

<p>URL: <a href="https://www.walking-lot.com">https://www.walking-lot.com</a></p>
<p>お問い合わせ先: <a href="https://forms.gle/cDNJdSb9E9KxMTxK7">こちらのフォームよりお問い合わせください</a></p>
<p>――――――――――――――――――――――――――――――</p>
