<div class="container mx-auto px-4 py-10">
  <h1><%= @activity.content %></h1>

  <% @activity.location_types.each do |location_type| %>
    <span class="badge"><%= location_type.name %></span>
  <% end %>
</div>