<% if logged_in? %>
  <div class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost btn-circle">
      <div class="indicator">
        <%= render 'shared/svg_icons/notification' %>
        <% if user_notifications.size > 0 %>
          <span class="badge badge-xs badge-primary indicator-item"></span>
        <% end %>
      </div>
    </label>
    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
      <% if user_notifications.size > 0 %>
        <% user_notifications.each do |user_notification| %>
          <li>
            <%= link_to notification_read_path(user_notification.notification), data: { turbo_method: :post } do %>
              <%= user_notification.notification.title %>
            <% end %>
          </li>
        <% end %>
      <% elsif user_notifications.size == 0 %>
        <li><a>新着通知はありません</a></a></li>
      <% end %>
      <hr>
      <li><%= link_to '通知一覧', mypage_notifications_path %></li>
    </ul>
  </div>
<% end %>
