<%= link_to notification_read_path(user_notification.notification), data: { turbo_method: :post } do %>
  <div class="indicator w-full">
    <!-- indicator for new notification -->
    <% unless user_notification.read? %>
      <span class="indicator-item badge badge-primary"></span>
    <% end %>
    <!-- notification card -->
    <div class="card w-full bg-base-100 shadow-xl mb-5 mx-auto">
      <div class="card-body">
        <p class="card-title"><%= user_notification.notification.title %></p>
        <div class="text-right">
          <p><%= time_ago_in_words(user_notification.created_at) %>前</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
