<p>管理ユーザー　各位</p>
<p><%= @user.name %>さんがアクティビティを作成（更新）しました。ログインして承認・公開してください。</p>

<h4>アクティビティの内容</h4>
<p><%= @activity.content %></p>

<h4>場所のタイプ一覧</h4>
<% @activity.location_types.each do |location_type| %>
  <p><%= location_type.name %></p>
<% end %>

<%= link_to '管理者画面で確認する', @url %>

<p>――――――――――――――――――――――――――――――</p>
<p>散歩くじ</p>

<p>URL: <a href="https://www.walking-lot.com">https://www.walking-lot.com</a></p>
<p>お問い合わせ先: <a href="https://forms.gle/YKAKEUTARLyqGJNS9">こちらのフォームよりお問い合わせください</a></p>
<p>――――――――――――――――――――――――――――――</p>