<% set_meta_tags title: 'お探しのページは見つかりません' %>
<div class="container mx-auto my-16 px-4 py-10 max-w-lg bg-white rounded-3xl">
  <p class="text-2xl font-bold mb-5">お探しのページは見つかりません</p>
  <div class="grid place-content-center">
    <%= image_tag 'errors/404_error' %>
  </div>
</div>
