<%= link_to admin_activity_path(activity) do %>
  <div class="card w-full bg-base-100 shadow-xl mb-5 mx-auto">
    <div class="card-body">
      <p class="card-title"><%= activity.content %></p>
      <div class="text-right">
        <% activity.location_types.each do |location_type| %>
          <span class="badge badge-outline badge-md"><%= location_type.name %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
