<% set_meta_tags title: 'アクティビティ編集（管理）' %>
<div class="container mx-auto px-4 py-10 max-w-lg">
  <p class="text-2xl font-bold mb-5">アクティビティ編集（管理）</p>
  <%= render 'form', activity: @activity %>
</div>
