<h4><%= @user.name %>さん</h4>

<p>散歩くじをご利用いただきありがとうございます。</p>
<p>あなたのアクティビティが更新（承認・公開）されました。</p>
<p>以下リンクよりご確認ください</p>

<%= link_to 'アクティビティを確認する', @url %>

<p>――――――――――――――――――――――――――――――</p>
<p>散歩くじ</p>

<p>URL: <a href="https://www.walking-lot.com">https://www.walking-lot.com</a></p>
<p>お問い合わせ先: <a href="https://forms.gle/YKAKEUTARLyqGJNS9">こちらのフォームよりお問い合わせください</a></p>
<p>――――――――――――――――――――――――――――――</p>